<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>编辑简历 - 极速简历 WorkerCV</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-gray">
{% include "../common/edit_header.html" %}
  <div class="wrapper-plus edit overflow-hidden mt-3">
    <div class="resume-nav nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-edit-tab" data-toggle="pill" href="#v-pills-edit" role="tab" aria-controls="v-pills-edit" aria-selected="true">编辑</a>
      <a class="nav-link" id="v-pills-case-tab" data-toggle="pill" href="#v-pills-case" role="tab" aria-controls="v-pills-case" aria-selected="false">案例</a>
      <a class="nav-link" id="v-pills-layout-tab" data-toggle="pill" href="#v-pills-layout" role="tab" aria-controls="v-pills-layout" aria-selected="false">排版</a>
      <a class="nav-link" id="v-pills-module-tab" data-toggle="pill" href="#v-pills-module" role="tab" aria-controls="v-pills-module" aria-selected="false">模块</a>
    </div>
    <div class="w-25 float-left resume-left border border-lead bg-white rounded p-3">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
          <div class="accordion" id="accordionResumeContent">
            <div class="card border-lead">
              <div class="card-header font-size-14 bg-lead border-lead" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">基本信息</div>
              <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionResumeContent">
                <div class="card-body resume-basic p-3">
                  <p class="mb-1"><label for="realname" class="font-size-14">姓名</label><input type="text" class="form-control form-control-sm realname" autocomplete="off"></p>
                  <p class="mb-1"><label for="phone" class="font-size-14">手机号</label><input type="text" class="form-control form-control-sm phone" autocomplete="off"></p>
                  <p class="mb-1"><label for="email" class="font-size-14">电子邮箱</label><input type="text" class="form-control form-control-sm email" autocomplete="off"></p>
                  <p class="mb-1"><label for="address" class="font-size-14">居住地址</label><input type="text" class="form-control form-control-sm address" autocomplete="off"></p>
                  <p class="mb-1"><label for="education" class="font-size-14">最高学历</label><input type="text" class="form-control form-control-sm education" autocomplete="off"></p>
                  <p class="mb-1"><label for="work-time" class="font-size-14">工作时间</label><input type="text" class="form-control form-control-sm work-time" autocomplete="off"></p>
                  <button type="button" class="btn btn-dark btn-sm mt-2 resume-update">更新内容</button>
                </div>
              </div>
            </div>
            <div class="card border-lead">
              <div class="card-header font-size-14 bg-lead border-lead" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">求职意向</div>
              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionResumeContent">
                <div class="card-body resume-intention p-3">
                  <p class="mb-1"><label for="position" class="font-size-14">岗位</label><input type="text" class="form-control form-control-sm position" autocomplete="off"></p>
                  <p class="mb-1"><label for="city" class="font-size-14">城市</label><input type="text" class="form-control form-control-sm city" autocomplete="off"></p>
                  <p class="mb-1"><label for="salary" class="font-size-14">薪资</label><input type="text" class="form-control form-control-sm salary" autocomplete="off"></p>
                  <p class="mb-1"><label for="arrive-time" class="font-size-14">到岗时间</label><input type="text" class="form-control form-control-sm arrive-time" autocomplete="off"></p>
                  <button type="button" class="btn btn-dark btn-sm mt-2 resume-update">更新内容</button>
                </div>
              </div>
            </div>
            <div class="card border-lead">
              <div class="card-header font-size-14 bg-lead border-lead" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">教育经历</div>
              <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionResumeContent">
                <div class="card-body resume-education-experience px-3 pb-3 pt-1">
                  <div class="resume-education-experience-list"></div>
                  <button type="button" class="btn btn-dark btn-sm mt-2 resume-education-experience-update">更新内容</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-case" role="tabpanel" aria-labelledby="v-pills-case-tab">...</div>
        <div class="tab-pane fade" id="v-pills-layout" role="tabpanel" aria-labelledby="v-pills-layout-tab">...</div>
        <div class="tab-pane fade" id="v-pills-module" role="tabpanel" aria-labelledby="v-pills-module-tab">...</div>
      </div>
      
    </div>
    <div class="w-75 float-right pl-3 resume-right">
      <div class="border border-lead bg-white rounded">
        <div class="resume-code" style="padding: 40px;">
          <div class="resume-basic" style="overflow: hidden;position: relative;">
            <div style="margin: auto 100px;height: 98px;overflow: hidden;">
              <h4 class="realname" style="text-align: center;font-weight: bold;margin-bottom: 10px;"></h4>
              <p class="phone-email-address" style="text-align: center;font-size: 13px;line-height: 20px;"><span class="phone"></span><span> | </span><span class="email"></span><span> | </span><span class="address"></span></p>
              <p class="education-work-time" style="text-align: center;font-size: 13px;line-height: 20px;"><span>学历：</span><span class="education"></span><span> | </span><span>工作时间：</span><span class="work-time"></span></p>
              <p class="introduction" style="text-align: center;font-size: 13px;line-height: 20px;"></p>
            </div>
            <img class="avatar" src="https://prod-file-uploaded.oss-cn-beijing.aliyuncs.com/cv/profile/avatars/ebd452b0-c062-11ea-b3d1-6107cde46dd5-avatar" alt="" width="80px" style="position: absolute;right: 0;top: 0;">
          </div>
          <div class="resume-intention" style="overflow: hidden;margin-top: 30px;">
            <h6 class="resume-intention-name" style="font-size: 14px;font-weight: bold;border-bottom: 1px solid #000;padding-bottom: 10px;">求职意向</h6>
            <div class="position-city-salary-arrive-time" style="font-size: 13px;overflow: hidden;height: 35px;line-height: 35px;">
              <p style="width: 25%;float: left;"><span>职位：</span><span class="position"></span></p>
              <p style="width: 25%;float: left;"><span>城市：</span><span class="city"></span></p>
              <p style="width: 25%;float: left;"><span>薪资：</span><span class="salary"></span></p>
              <p style="width: 25%;float: left;"><span>到岗时间：</span><span class="arrive-time"></span></p>
            </div>
          </div>
          <div class="resume-education-experience" style="overflow: hidden;margin-top: 30px;">
            <h6 class="resume-education-experience-name" style="font-size: 14px;font-weight: bold;border-bottom: 1px solid #000;padding-bottom: 10px;">教育经历</h6>
            <div class="resume-education-experience-list"></div>
          </div>
        </div>
      </div>
    </div>
    <p id="data" data-resume="{{ getResumeContent }}"></p>
  </div>
</body>
</html>