<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>编辑简历 - 极速简历 WorkerCV</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-gray">
{% include "../common/edit_header.html" %}
  <div class="waiting"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-clock-history text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
  </svg><p class="text-dark mt-2 font-size-14">加载中</p></div>
  <div class="modal fade" id="renameModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog mt-5">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="renameModalLabel">重命名</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control form-control-sm" placeholder="请输入模块名称...">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-dark" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-sm btn-dark save-rename-button">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-plus edit overflow-hidden mt-3">
    <div class="resume-nav nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-edit-tab" data-toggle="pill" href="#v-pills-edit" role="tab" aria-controls="v-pills-edit" aria-selected="true">编辑</a>
      <a class="nav-link" id="v-pills-layout-tab" data-toggle="pill" href="#v-pills-layout" role="tab" aria-controls="v-pills-layout" aria-selected="false">排序</a>
      <a class="nav-link" id="v-pills-module-tab" data-toggle="pill" href="#v-pills-module" role="tab" aria-controls="v-pills-module" aria-selected="false">模块</a>
      <a class="nav-link" id="v-pills-case-tab" data-toggle="pill" href="#v-pills-case" role="tab" aria-controls="v-pills-case" aria-selected="false">案例</a>
      <a class="nav-link" id="v-pills-case-tab" data-toggle="pill" href="#v-pills-template" role="tab" aria-controls="v-pills-case" aria-selected="false">模板</a>
    </div>
    <div class="float-left resume-left border border-lead bg-white rounded p-3">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
          <div class="accordion" id="accordionResumeContent">
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-layout" role="tabpanel" aria-labelledby="v-pills-layout-tab">
          <ul class="list-group sort"></ul>
        </div>
        <div class="tab-pane fade" id="v-pills-module" role="tabpanel" aria-labelledby="v-pills-module-tab">
          <div class="module">
            <h6>已开启</h6>
            <ul class="list-group module-on mt-2 pt-2"></ul>
            <h6 class="mt-3">已关闭</h6>
            <ul class="list-group module-off mt-2 pt-2"></ul>
            <button type="button" class="btn btn-sm btn-dark mt-3 w-100 save-switch-button">保存更改</button>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-case" role="tabpanel" aria-labelledby="v-pills-case-tab"><h2>案例</h2></div>
        <div class="tab-pane fade" id="v-pills-template" role="tabpanel" aria-labelledby="v-pills-case-tab"><h2>模板</h2></div>
      </div>
      
    </div>
    <div class="w-75 float-right pl-3 resume-right">
      <div class="border border-lead bg-white rounded">
        <div class="resume-box" style="padding: 40px;"></div>
      </div>
    </div>
  </div>
</body>
</html>