<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的简历 - 极速简历 WorkerCV</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-lead">
{% include "./header.html" %}
  <div class="resume">
    {% include "./layout_left.html" %}
  </div>
</body>
</html>