<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>推荐模板 - 极速简历 WorkerCV</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-gray">
{% include "../common/user_header.html" %}
  <div class="user overflow-hidden">
    {% include "../common/user_left.html" %}
    <div class="user-collect float-left pt-4 mt-1">
      <h1>我的收藏</h1>
    </div>
  </div>
</body>
</html>