<div class="footer bg-light border border-light py-5 overflow-hidden">
  <div class="wrapper-plus overflow-hidden">
    <div class="col-4 float-left">
      <img src="/images/logo.png" alt="">
      <p class="text-lead font-size-13 mt-3 w-75 about-site">极速简历WorkerCV提供各行业求职简历模板免费下载，是一个专业的智能简历制作工具。还有智能简历优化建议和求职简历定制服务，以及大量简历制作攻略和求职攻略。</p>
      <p class="text-lead font-size-13 mt-3">Copyright &copy; 极速简历 WorkerCV 2020, All Rights Reserved.</p>
      <p class="font-size-13 mt-2"><a href="" class="text-lead">ICP备案：粤ICP备12345678号</a></p>
    </div>
    <div class="col-2 float-left text-right">
      <p class="w-100 mb-2 font-size-14">关于本站</p>
      <div class="w-100 font-size-14 pt-1">
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">关于我们</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">联系我们</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">加入我们</a></p>
        <p class="w-100 mb-2"><a href="" class="w-10 text-lead">商务合作</a></p>
      </div>
    </div>
    <div class="col-2 float-left text-right">
      <p class="w-100 mb-2 font-size-14">分类导航</p>
      <div class="w-100 font-size-14 pt-1">
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">简历模板</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">简历优化</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">简历定制</a></p>
        <p class="w-100 mb-2"><a href="" class="w-10 text-lead">求职攻略</a></p>
      </div>
    </div>
    <div class="col-2 float-left text-right">
      <p class="w-100 mb-2 font-size-14">简历专题</p>
      <div class="w-100 font-size-14 pt-1">
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">实习生简历</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">应届生简历</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">程序员简历</a></p>
        <p class="w-100 mb-2"><a href="" class="w-10 text-lead">金融简历</a></p>
      </div>
    </div>
    <div class="col-2 float-left text-right">
      <p class="w-100 mb-2 font-size-14">友情链接</p>
      <div class="w-100 font-size-14 pt-1">
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">百度翻译</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">360搜索</a></p>
        <p class="w-100 mb-2"><a href="" class="w-100 text-lead">腾讯QQ</a></p>
        <p class="w-100 mb-2"><a href="" class="w-10 text-lead">搜狗搜索</a></p>
      </div>
    </div>
  </div>
</div>