<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script type="module" src="/js/edit_header.js"></script>
<div class="bg-white w-100 py-2 px-3 edit-header header overflow-hidden">
  <div class="edit-left">
    <a href="/resume" class="px-1 float-left text-dark back-button rounded"><svg width="1.1em" height="1.1em" viewBox="0 2 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <p class="resume-name float-left font-size-15 ml-2 resume-name-current-button"></p>
    <div class="resume-more ml-3">
      <a href="javascript:void(0);" class="text-body resume-more-button rounded float-left" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg data-toggle="tooltip" data-placement="bottom" title="更多" width="1.05em" height="1.05em" viewBox="0 2 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg></a>
      <div class="dropdown-menu font-size-14 border-lead mt-2" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item px-3" href="#">发送到邮箱</a>
        <a class="dropdown-item px-3" href="#">分享简历</a>
        <a class="dropdown-item px-3" href="#">删除简历</a>
      </div>
      <a href="javascript:void(0);" class="text-dark download-resume ml-3 pl-1 float-left" data-toggle="tooltip" data-placement="bottom" title="下载"><svg width="1.15em" height="1.15em" viewBox="0 1 16 16" class="bi bi-cloud-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
      </svg></a>
      <a href="javascript:void(0);" class="text-dark print-resume ml-4 float-left" data-toggle="tooltip" data-placement="bottom" title="打印"><svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
      </svg></a>
      <p class="resume-color ml-4 float-left border rounded"><input type="color" id="colorFormControlSelect" data-toggle="tooltip" data-placement="bottom" title="颜色"></p>
      <p class="resume-font ml-4 float-left">
        <select class="form-control form-control-sm font-size-12" id="fontFormControlSelect" autocomplete="off" data-toggle="tooltip" data-placement="bottom" title="字体">
          <option selected>宋体</option>
          <option>仿宋</option>
          <option>新宋体</option>
          <option>微软雅黑</option>
          <option>楷体</option>
        </select>
      </p>
      <p class="resume-size ml-3 float-left">
        <select class="form-control form-control-sm font-size-12" id="sizeFormControlSelect" autocomplete="off" data-toggle="tooltip" data-placement="bottom" title="字号">
          <option>12px</option>
          <option>13px</option>
          <option>14px</option>
          <option>15px</option>
          <option selected>16px</option>
          <option>17px</option>
          <option>18px</option>
        </select>
      </p>
      <p class="resume-line ml-3 float-left">
        <select class="form-control form-control-sm font-size-12" id="lineFormControlSelect" autocomplete="off" data-toggle="tooltip" data-placement="bottom" title="行距">
          <option selected>1.0</option>
          <option>1.2</option>
          <option>1.4</option>
          <option>1.6</option>
          <option>1.7</option>
          <option>2.0</option>
        </select>
      </p>
      <p class="resume-padding ml-3 float-left">
        <select class="form-control form-control-sm font-size-12" id="paddingFormControlSelect" autocomplete="off" data-toggle="tooltip" data-placement="bottom" title="边距">
          <option>10px</option>
          <option>15px</option>
          <option>20px</option>
          <option>25px</option>
          <option>30px</option>
          <option selected>35px</option>
          <option>40px</option>
          <option>45px</option>
          <option>50px</option>
        </select>
      </p>
      <p class="ml-3 float-left"><button type="button" class="save-config-button btn btn-sm btn-dark font-size-12">保存更改</button></p>
    </div>
    <p class="resume-save-tip float-left font-size-14 ml-3 font-weight-bold"></p>
  </div>
  <div class="edit-right float-right">
    <button type="button" class="btn btn-outline-dark font-size-13 py-0 float-left px-2" style="margin-top: 6px;">开通VIP</button>
    <a href="" class="float-left ml-4 text-dark font-size-17" style="margin-top: 1px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
      <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <a href="javascript:void(0);" class="float-left ml-4" id="dropdownUserBox" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://accounts.processon.com/uphoto/17/348/5f2cffffe401fd13e721d921.png" class="rounded-pill" alt="个人头像" width="35px" height="35px"></a>
    <div class="dropdown-menu mt-3 font-size-14 overflow-hidden mr-2 border-lead" style="min-width: 50px;" aria-labelledby="dropdownUserBox">
      <a class="dropdown-item m-0" href="#">账号设置</a>
      <a class="dropdown-item m-0" href="#">会员中心</a>
      <a class="dropdown-item m-0" href="#">我的收藏</a>
      <a class="dropdown-item m-0" href="#">订单记录</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item m-0" href="javascript:void(0);" id="logOut">退出</a>
    </div>
  </div>
</div>