<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/js/user_header.js"></script>
<div class="bg-white w-100 py-2 px-3 user-header overflow-hidden">
  <div class="user-header-logo float-left"><a href="/"></a></div>
  <div class="user-nav mt-2 font-size-14">
    <a href="javascript:void(0);" class="text-dark" id="dropdownTemplateList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">模板<svg width="0.8em" height="0.8em" viewBox="-2 2 16 16" class="bi bi-chevron-down text-body ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg></a>
    <div class="dropdown-menu mt-3 font-size-14 border-lead" aria-labelledby="dropdownTemplateList">
      <a class="dropdown-item m-0" href="#">Action</a>
      <a class="dropdown-item m-0" href="#">Another action</a>
      <a class="dropdown-item m-0" href="#">Something else here</a>
    </div>
    <a href="" class="text-dark">优化</a>
    <a href="" class="text-dark">定制</a>
    <a href="" class="text-dark">攻略</a>
  </div>
  <div class="user-right float-right">
    <button type="button" class="btn btn-outline-dark font-size-13 py-0 float-left px-2" style="margin-top: 6px;">开通VIP</button>
    <a href="" class="float-left ml-4 text-secondary font-size-17" style="margin-top: 2px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
      <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg></a>
    <a href="javascript:void(0);" class="float-left ml-4" id="dropdownUserBox" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://accounts.processon.com/uphoto/17/348/5f2cffffe401fd13e721d921.png" class="rounded-pill" alt="个人头像" width="35px" height="35px"></a>
    <div class="dropdown-menu mt-3 font-size-14 overflow-hidden mr-2 border-lead" style="min-width: 50px;" aria-labelledby="dropdownUserBox">
      <a class="dropdown-item m-0" href="#">账号设置</a>
      <a class="dropdown-item m-0" href="#">会员中心</a>
      <a class="dropdown-item m-0" href="#">我的收藏</a>
      <a class="dropdown-item m-0" href="#">订单记录</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item m-0" href="javascript:void(0);" id="logOut">退出</a>
    </div>
  </div>
</div>